@import "./semantic.css";
@import "./components/accordion.css";


body, html, header
{
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh ;
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
    font-family: 'Comfortaa', cursive;
}

body
{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}


.content-header
{
    display: flex !important;
    justify-content: center;  
    flex-direction: column;  
    align-items: center;    
}


img.logo
{
    margin-bottom: 30px;
    max-width: 300px;
}

main
{
    background-color: transparent;
    margin: 10px;
}

.article-section
{
    padding: 30px !important;
}

.article-list 
{
    padding: 20px;
}


.article-desc
{
    margin-bottom: 20px;
}

.article-img
{
    display: flex !important;
    justify-content: center;    
    align-items: center;    
    padding: 20px !important;
}

/* Define image heigth in your project to 300px */
.article-img img
{
    max-height: 300px !important;
}

.article-presentation
{
    padding: 40px !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;    
    align-items: flex-start;  
}

.article-presentation h3
{
    font-family: 'Assistant', sans-serif !important;
}

.article-presentation h3 .divider
{
    max-width: 100px !important;
}

footer
{
    margin: 0 !important;
}

.font-comfortia
{
    font-family: 'Comfortaa', cursive;

}

.font-pacifico
{

    font-family: 'Pacifico', cursive;

}